.drop {
    background-color: rgba(38, 159, 246, .8);
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
}

.flex_container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;  
}

.flex_container1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;  
}

.flex_container1 > div > h1 {
    text-align: center;   
    text-shadow:
    -1px -1px 0 #3396FF,  
     1px -1px 0 #3396FF,
     -1px 1px 0 #3396FF,
      1px 1px 0 #3396FF;    
}

.flex_container1 > div {
    margin-bottom: 20px;
    flex: 33%;
}

@media screen and (min-width: 500px) {
    .imagepose {
        background-color: #d9d9d9;
        width: 385px;
        height: 500px;
    }    
}

@media screen and (max-width: 500px) {
    .imagepose {
        background-color: #d9d9d9;
        border-radius: 20px;
        width: 80vw;
        height: 120vw;
    } 
}

@media screen and (min-width: 500px) {
    .otherpose {
        background-color: #d9d9d9;
        width: 385px;
        height: 220px;
    }    
    .flex_container1 > div > h1 {
        font-size: 32px;
    }  
    .line {
        margin-top: -32px;
    }    
}

@media screen and (max-width: 500px) {
    .flex_container1 > div > h1 {
        font-size: 5vw;
    }      
    
    .otherpose {
        background-color: #d9d9d9;
        width: 60vw;
        height: 12vw;
    }    
    .line {
        margin-top: -5vw;
    }
}

.dropcontent {
    margin-bottom: 50px;
}