.drop {
    background-color: rgba(38, 159, 246, .35);
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
}

.flex_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;  
}

.flex_container > h1 {
    display: block;
    background-color: #d9d9d900;
}

.flex_container > div {
    margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
    .imagepose {
        background-color: #d9d9d9;
        width: 385px;
        height: 500px;
    }    
}

@media screen and (max-width: 500px) {
    .imagepose {
        background-color: #d9d9d9;
        border-radius: 20px;
        width: 80vw;
        height: 120vw;
    } 
}

@media screen and (min-width: 500px) {
    .otherpose {
        background-color: #d9d9d9;
        width: 385px;
        height: 220px;
    }    
    .flex_container > h1 {
        font-size: 32px;
        padding: 10px 30px;
    }  
    .line {
        margin-top: -32px;
        border-top: 1px solid white;
    }    
}

@media screen and (max-width: 500px) {
    .flex_container > h1 {
        font-size: 5vw;
        padding: 2.5vw 5vw;
    }      
    
    .otherpose {
        background-color: #d9d9d9;
        width: 60vw;
        height: 12vw;
    }    
    .line {
        margin-top: -5vw;
        border-top: 1px solid white;
    }
}

.dropcontent {
    margin-bottom: 50px;
}