.footer {
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}

.flex_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;  
}
.flex_container1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;  
}
.flex_container1 > div {
    margin-bottom: 20px;
    flex: 33%;
}

.flex_container > div > img {
    width: 79px;
    height: 68px;;
}

.footername {
    letter-spacing: 10px;
    padding: 10px 30px;
}



@media screen and (max-width: 992px) {
    .footername {
        font-size: 3vw;
    }     
    .line {
        margin-top: -3vw;
    }
    .footertitle {
        letter-spacing: 1vw;
        font-size: 36px;
    }    
    .comment {
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    .footername {
        font-size: 32px;
    }  
    .line {
        margin-top: -32px;
    }
    .footertitle {
        font-size: 60px;
        letter-spacing: 1vw;
    }
    .comment {
        font-size: 18px;
    }
}