ul {
    padding-inline-start: 0px;
}

.headercontent {
    padding-top: 30px;
}

.flex_container {
    font-family: 'Inter';
    color:white;
    font-weight: 900;        
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.buybtn {
    text-decoration: none;
    font-family: Inter;
    font-weight: 900;
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    transition: all .5s ease;
}

.buybtn:hover {
    color: #d9d9d9;
    background-color: #fff;
}

.nav {
    list-style: none;
}

.nav .item{
    position:relative;
    display:inline-block;
    background:transparent;
    z-index:2;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
}
.nav .item:hover .linktext:before{
opacity:1;
transition:0.3s ease-in-out;
-webkit-transition:0.3s ease-in-out;
transform:scale(0.7);
-webkit-transform:scale(0.7);
}
.nav .linktext{
width: 100px;
text-align:center;
position:relative;
z-index:2;
color:#fff;
text-decoration:none;
text-transform:uppercase;
transition:0.3s ease-in-out;
-webkit-transition:0.3s ease-in-out;
}
.nav .item:hover .linktext{
color:#269ff6;
transform:scale(1.3);
-webkit-transform:scale(1.3);
}

@media screen and (max-width: 768px) {
    .linktext {
        font-size: 2vw;
        width:75px;
        height:20px;      
        margin-left:0.3vw;
        margin-right:0.3vw;             
    }    
    .beanie {
        font-size: 4vw;
    }    
    .buybtn {
        font-size: 2.5vw;
        border-radius: 3vw;    
        padding: 5px 10px;    
        margin-left:7px;
    }    
}

@media screen and (min-width: 768px) {
    .linktext {
        font-size: 20px;
        line-height: 24.2px;
        width:100px;
        height:35px;        
        padding-top:15px;
        margin-left:7px;
        margin-right:7px;        
    }
    .beanie {
        font-size: 32px;
        line-height: 38.73px;
    }    
    .buybtn {
        font-size: 20px;
        line-height: 24.2px;
        border-radius: 30px;    
        padding: 15px 25px;        
    }
}