.App {
//    background-color: #d9d9d9;
    width: 100%;
    margin: auto;
    background-image: url('../public/assets/image/background_d.jpg');
    opacity: .7;
    background-position-x: center;
    background-position-y: top;
}

body {
    font-weight: bolder;
    font-family: 'Inter';
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: white;    
    font-family: 'Inter';
}

@media screen and (max-width: 992px) {
    .content {
        width: 90%;
        margin: auto;
    }    
}

@media screen and (min-width: 992px) {
    .content {
        width: 80%;
        margin: auto;
    }    
}

hr {
    display: block;
    border-top: 1px solid white;
}