.App {
    margin: auto;
    background-position-y: top;
    background-position-x: center;
    background-image: url('../public/assets/image/background_a.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: auto 100%;
    opacity: .7;    
}

@media screen and (min-width: 768px) {
    .App {
            background-image: url('../public/assets/image/background_a.jpg');
            background-size: cover;    
        }
}

body {
    font-weight: bolder;
    font-family: 'Inter';
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: white;    
    font-family: 'Inter';
}

@media screen and (max-width: 992px) {
    .content {
        width: 90%;
        margin: auto;
    }    
}

@media screen and (min-width: 992px) {
    .content {
        width: 80%;
        margin: auto;
    }    
}

hr {
    display: block;
    border-top: 1px solid white;
}