@media screen and (max-width: 992px) {
    .content {
        width: 90%;
        margin: auto;
    }    
}

@media screen and (min-width: 992px) {
    .content {
        width: 80%;
        margin: auto;
    }    
}

hr {
    display: block;
    border-top: 1px solid white;
}